/*CONTENTS*/
/*....
1.GENERAL
2.NAVBAR
3.BANNER
4.ABOUT
5.SERVICES
6.PORTFOLIO
6.CONTACT
7.FOOTER
................*/

/*GENERAL*/
body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    /* font-size: 10px; */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    /* background color */
    --primary-color: #1d70ff;
    --secondary-color: #0B0C10;
    --bg--cyan: #1F2833;
    --bg-white: white;
    --grey-color: #C5C6C7;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #1d70ff 100%);
    --gradient-text: linear-gradient(120deg, green 20.69%, purple 50.69%, var(--primary-color) 79.69);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary--color)', endcolorstr='var(--secondary-color)', GradientType=1);


    /* Text color*/
    --primary-font: 'Verdana', sans-serif;
    --primary--text: red;
    --text--grey: #C5C6C7;
    --text-yellow: #cbff0f;
    --text--white: white;


}

a {
    text-decoration: none;
}

/* custom css */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--bg--cyan);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    -webkit-appearance: none;
    margin: 0px;
}

section {
    padding: 25px 0;
}

.main-btn {

    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 7px;
    background-color: transparent;
    border: 2px solid var(--grey-color);
    color: var(--text--grey);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text--white)
}

h1 {
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text--white);
    margin-bottom: 20px;

    -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 0px 6px 10px blue;

}

h1 span {
    color: var(--primary-color);
}

h2 {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text--white);
    margin-bottom: 50px;
    -webkit-text-stroke: 1px #F8F8F8;
   
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text--white);
    margin-bottom: 19px;
    -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 0px 6px 6px orchid;


}

h6 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    color: var(--text--grey);
    margin-bottom: 20px;
    font-weight: 400;
   



}

p {
    color: var(--text--grey);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 25px;

}

.nav-link {

    font-size:17px;
}

.subtitle {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 30px;
    background: var(--gradient-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
    outline: none !important;
    box-shadow: none !important;
}

/* 2 Navbar */
.header_wrapper .navbar {
    padding: 15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {

    max-width: 120px;
    height: auto;
}

.header_wrapper .navbar-toggler{

    border: 0;
    color: var(--bg-white);
    line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {

    margin: 0 6px;
}

.navbar-nav{
    gap: 1rem;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text--grey);
    display: inline-block;
    
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: 0;

}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--text--white);
}

.header_wrapper .navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 2px 0 rgb(19, 117, 255);
    padding: 10px 0;
    transition: 0.2s;
}

.header-scrolled.nav-item .nav-link.active::after,
.header-scrolled .nav-item .nav-link:hover::after {
    color: var(--primary-color);
}




/*3 banner */

.banner_wrapper {
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/banner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 100px 0;

}

.banner_wrapper .banner-profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid var(--text--white);
}


/* 4 About */
.about_wrapper ul.nav-pills{
   border:1px solid var(--grey-color);
   border-radius: 50px;
}

.about_wrapper ul li .nav-link{
    border-radius: 50px;
    font-size: 13px;
    font-weight:500;
    transition: 0.45s cubic-bezier(0,0,0.2,1);
    display:inline-block;
    color: var(--text--grey); 
    border:0;
}
.about_wrapper ul li .nav-link.active{
    background-color: var(--primary-color);
}

.about_wrapper .single-progress{
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}

.about_wrapper .single-progress .progress{
    height: 4px;
    border-radius: 4px;
    box-shadow: none;
    background-color:var(--bg-white);
    overflow: visible;
}

.about_wrapper .single-progress .progress-bar{
    background-image: var(--gradient-color);
}

.about_wrapper .single-progress .label{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--text--grey);
    font-size: 15px;
}

.about_wrapper .tab-pane
{
   
    min-height: 500px;
    margin-top: 40px;
}

.about_wrapper .tab-pane li{
    color:var(--text--grey);
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 300;
    list-style: none;
}



.about_wrapper .tab-pane li a{
    font-weight: 500;
    display: block;
    color: var(--text-yellow);
    font-size: 18px;
}

/* 4 service */
 .service_wrappper .card{
    background-color: var(--bg--cyan);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05,0.2,0.1,1);
    box-shadow:0.65s cubic-bezier(0.05, 0.2,0.1,1);
 }
 
 .service_wrappper .card:hover{
   box-shadow: opx 2px 70px 0 rgb(253 71 102/ 5%);
   transform: translateY(-5px);
 }


/* 5 portfolio */
.portfolio_wrapper .card{
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border:1px solid var(--bg-white);
    cursor:pointer;
    box-shadow: 0 0 16px 4px var(--bg--cyan);
}

.portfolio_wrapper .card span{
    transition:background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position:center center;
    background-size:cover;
}
.portfolio_wrapper .card:hover span{
    background-position: bottom center;
}

.portfolio_wrapper .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.portfolio_wrapper .card:hover .overlay {
    opacity: 1;
}

/* 6 contact */
.contact_wrapper .form-control,
.contact_wrapper textarea{
    background-color: transparent;
    border-color: var(--grey-color);
    color:var(--bg-grey);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}

.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus{
    border-color: var(--primary-color);
    color:var(--text--white);
}
.contact_wrapper .call_details{
    color:var(--text--grey);
}
.contact_wrapper .call_details a{
    font-weight:700;
    font-size: larger;
    color:var(--text--grey)
}

/* 7 footer */
.footer_wrapper{
    background-color: var(--bg--cyan);
    padding: 50px 0;
}

.footer_wrapper .footer-logo img{
    width: 70px;
}
.social-icon li{
    margin: 6px;
}
.social-icon a{
    width:35px;
    height: 35px;
    line-height: 32px;
    font-size:14px;
    display: inline-block;
    border: 2px solid var(--text--grey);
    color:var(--text--grey);
    text-align: center;
    border-radius: 100%;
    -webkit-transition:all 0.3s cubic-bezier(0.645,0.045,0.355,1);
    transition:all 0.3s cubic-bezier(0.645,0.045,0.355,1);
}

.social-icon a:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text--white);
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
    transform:translate(-3px);
}
.footer-nav a:hover{
    color: var(--primary-color) !important;
}

.footer_wrapper .copyright-text p{
    font-size:11px;
    line-height:20px;
}
.footer_wrapper .copyright-text a{
    color: var(--primary-color);
}
